name: TDD CI Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run Tests with Pytest
      run: |
        pytest -v --cov=. --cov-report=term-missing

    - name: Install Newman
      run: npm install -g newman

    - name: Start API Server
      run: |
        # ÖNCEKİ DB VARSA SİL (Fresh Start)
        rm -f gym_system.db
        
        # Sunucuyu başlat
        uvicorn main:app --host 127.0.0.1 --port 8000 &
        sleep 5

    - name: Run Postman Tests with Newman
      run: newman run "postman/collections/test.postman_collection.json"